@keyframes clickEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.80);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.recommended-goods__header {
  display: flex;
  justify-content: space-between;
}

.recommended-goods__controls {
  display: flex;
  gap: 16px;
}

.recommended-goods__control {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &--left {
    background-image: url('../../images/left_arrow_icon.svg');
  }

  &--right {
    background-image: url('../../images/right_arrow_icon.svg');
  }

  transition: transform 0.2s, opacity 0.2s;

  &:active {
    animation: clickEffect 0.2s forwards;
  }
}

.recommended-goods__container {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.recommended-goods__phones {
  display: flex;
  width: 1200px;
  flex-wrap: nowrap;
  gap: 16px;
}
