.variants-container {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 500px;
}

.colors__title,
.capacity__title {
  color: var(--gray-secondary, #89939a);
  padding-bottom: 8px;
  /* Small text 12 */
  font-family: Mont;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.phoneID {
  color: var(--gray-icons-placeholders, #b4bdc3);
  text-align: right;

  /* Small text 12 */
  font-family: Mont;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.colors__options {
  padding-bottom: 24px;
  border-bottom: 1px solid #e2e6e9;
  margin-bottom: 24px;
}
.capacity__button {
  padding: 5px 15px;
  background-color: white;
  border: 1px solid var(--gray-icons-placeholders, #b4bdc3);
  margin-bottom: 28px;

  /* Body text 14 */
  font-family: 'Mont';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.capacity__button--1 {
  background: var(--gray-primary, #313237);
  color: white;
}

.capacity__button--2 {
  margin: 0 8px;
}

.colors {
  width: 320px;
}

.card__product-prices {
  display: flex;
  padding-top: 32px;
  border-top: 1px solid #e2e6e9;
  padding-bottom: 8px;
}

.card__buttons--cart--wide {
  padding: 15px 100px;
  background-color: var(--gray-primary, #313237);
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}
