body {
  overflow-x: hidden;
}

.homepage-container {
  width: 1136px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.section__title {

  &--1 {
    font-size: 48px;
    font-weight: 800;
    text-align: left;
    margin: 56px 0;
  }
  &--2, &--3, &--4 {
    font-size: 32px;
    font-weight: 800;
    margin: 56px 0 32px;
  }
}

.section__album {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__button,
.section__image {
  height: 400px;
}

.section__button {
  width: 32px;
  background-color: blue;
}

.section__image {
  width: 1040px;
  background-color: red;
}

.section__models {
  display: flex;
}

.section__model {
  width: 272px;
  height: 506px;
  margin-right: 20px;
  background-color: #ccc;

  &:last-child {
    margin-right: 0;
  }

  &--1 {
    background-color: #ff5733;
  }

  &--2 {
    background-color: #33ff57;
  }

  &--3 {
    background-color: #5733ff;
  }

  &--4 {
    background-color: #ff5733;
  }
}

.section__categories {
  display: flex;
  justify-content: space-between;
}

.section__category-content {
  .section__image2 {
    width: 368px;
    height: 368px;
    background-color: #6ba3ff;
  }

  .section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__text-line {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.section__prices {
  display: flex;
}

.section__price {
  width: 250px;
  height: 300px;
  margin-right: 20px;
  background-color: #eee;

  &:last-child {
    margin-right: 0;
  }
}
