/* Resetowanie ogólnego wyglądu strony */
body {
  overflow-x: hidden;
}

/* Kontener na stronę */
.homepage-container {
  width: 1136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Styl dla sekcji "section__album" */
.section__album {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__button,
.section__image {
  height: 400px;
}

.section__button {
  width: 32px;
  background-color: blue;
}

.section__image {
  width: 1040px;
  background-color: red;
}

/* Styl dla sekcji "section__models" */
.section__models {
  display: flex;
}

.section__model {
  width: 272px;
  height: 506px;
  margin-right: 20px;
  background-color: #ccc; /* Przykładowy kolor tła */

  &:last-child {
    margin-right: 0;
  }

  &--1 {
    background-color: #ff5733; /* Przykładowy kolor tła dla modelu 1 */
  }

  &--2 {
    background-color: #33ff57; /* Przykładowy kolor tła dla modelu 2 */
  }

  &--3 {
    background-color: #5733ff; /* Przykładowy kolor tła dla modelu 3 */
  }

  &--4 {
    background-color: #ff5733; /* Przykładowy kolor tła dla modelu 4 */
  }
}

/* Styl dla sekcji "section__categories" */
.section__categories {
  display: flex;
  justify-content: space-between;
}

.section__category-content {
  .section__image2 {
    width: 368px;
    height: 368px;
    background-color: #6ba3ff; /* Przykładowy losowy kolor tła */
  }

  .section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__text-line {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &:last-child {
    margin-right: 0;
  }
}

/* Styl dla sekcji "section__prices" */
.section__prices {
  display: flex;
}

.section__price {
  width: 250px;
  height: 300px;
  margin-right: 20px;
  background-color: #eee; /* Przykładowy kolor tła */

  &:last-child {
    margin-right: 0;
  }
}
