@media screen and (max-width: 1199px) and (min-width: 640px) {
    .homepage-container {
      width: 592px;
    }
  
    .section__button.responsive {
      width: 32px !important;
      height: 189px ;
    }
  
    .section__image.responsive {
      width: 490px !important;
      height: 189px !important;
    }

    .section-2 .section__models {
      width: 1136px;
    }
  
    .section__image2.responsive {
      width: 187px !important;
      height: 187px !important;
    }
  
    .section-3 .section__categories .section__category-content {
      width: 187px;
      height: 262px;
    }
  
    .section__image.responsive {
      width: 490px;
      height: 189px;
    }
  
    .section__text-line {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .section-4 .section__models {
      width: 1136px;
    }
  }
  
@media screen and (max-width: 639px) {
  .homepage-container {
      width: auto !important;
      margin: 0 20px !important;
  }

  .section-1 .section__button.responsive {
      display: none;
  }

  .section-1 .section__image.responsive {
      width: 100% !important;
      height: auto !important;
      padding-top: 100% !important;
  }

  .section-2 .section__models {
    width: 1136px;
    
  }
  
  .section__image2.responsive {
    width: 100% !important;
    height: auto !important;
    padding-top: 100% !important;
  }

.section-3 .section__categories {
  flex-direction: column;
}

.section-3 .section__categories .section__category-content {
  width: 100%;
  height: auto;
  margin-right: 0;
}



  .section-4 .section__models {
    width: 1136px;
  }
}
