@mixin for-desktop() {
    @media (min-width: 640px) {
        @content;
    }
}

.Header {
    width: 100vw;
    border-bottom: 1px solid #E2E6E9;

    &__content {
        padding-left: 16px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__navigation {
        display: none;

        @include for-desktop() {
            display: flex;
            gap: 32px;
            padding: 0 32px;
        }

        &--link {
            font-size: 12px;
            line-height: 48px;
            font-style: normal;
            font-weight: 800;
            color: #89939A;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: #313237;
            }
        }
    }

    &__icons {
        display: flex;
        position: absolute;
        right: 16px;

        &--icon {
            box-sizing: content-box;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50%;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                border: 1px solid #313237;
            }
        }

        &--menu_icon {
            background-image: url('../../images/burger_menu.svg');
            border: 1px solid #E2E6E9;

            @include for-desktop() {
                display: none;
            }
        }

        &--heart_icon {
            display: none;

            @include for-desktop() {
                display: block;
                background-image: url('../../images/heart_icon.svg');
                border: 1px solid #E2E6E9;
            }
        }

        &--heart_icon.is-active {
            background-image: url('../../images/heart_icon_red.svg');
        }
        &--cart_icon {
            display: none;

            @include for-desktop() {
                display: block;
                background-image: url('../../images/cart_icon.svg');
                border: 1px solid #E2E6E9;
                border-left: 1px solid #FFFFFF;
            }

        }
    }
}

.is-active {
    color: #313237;
    position: relative;
  }

.is-active {
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: #313237;
      }
}