@mixin for-desktop() {
  @media (min-width: 640px) {
    @content;
  }
}

.Header {
  width: 100vw;
  border-bottom: 1px solid #e2e6e9;

  &__content {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;

    @include for-desktop() {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    }
  }

  &__navigation {
    display: none;


    &--user-text {
      font-size: 12px;
      line-height: 48px;
      padding-left: 20px;
      font-style: normal;
      font-weight: 800;
      color: #89939a;
      text-decoration: none;
      text-transform: uppercase;
    
      &:hover {
        color: #313237;
      }
    }

    @include for-desktop() {
      display: flex;
      gap: 32px;
      padding: 0 32px;
    }

    &--link {
      font-size: 12px;
      line-height: 48px;
      font-style: normal;
      font-weight: 800;
      color: #89939a;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #313237;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1px;

    &--icon {
      box-sizing: content-box;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: 50%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        border: 1px solid #313237;
        margin-top: 1px;
      }
    }

    &--menu_icon {
      background-image: url('../../images/burger_menu.svg');
      border: 1px solid #e2e6e9;     
      &:hover {
        margin-top: 0;
      }

      @include for-desktop() {
        display: none;
      }

      @media (max-width: 640px) {
        right: 158px;
      }
    }

    &--search_icon {
      border: 1px solid #e2e6e9;
      display: block;
      background-image: url('../../images/search.svg');

      @include for-desktop() {
        display: block;
        background-image: url('../../images/search.svg');
        border: 1px solid #e2e6e9;
        margin-right: 0;
      }

      @media (max-width: 640px) {
        display: none;
      }
    }

    &--close_icon {
      display: block;
      background-image: url('../../images/close_icon.svg');

      @include for-desktop() {
        display: block;
        background-image: url('../../images/close_icon.svg');
        border: 1px solid #e2e6e9;
        margin-right: 0;
      }

      @media (max-width: 640px) {
        display: none;
      }
    }

    &--heart_icon {
      display: none;

      @include for-desktop() {
        position: relative;
        display: block;
        background-image: url('../../images/heart_icon.svg');

      }

      &.is-active {
        .favourites-count {
          top: 9px;
          right: 7px;
        }

        background-image: url('../../images/heart_icon_red.svg');
      }
    }

    &--cart_icon {
      display: none;

      @include for-desktop() {
        position: relative;
        display: block;
        background-image: url('../../images/cart_icon.svg');
        border: 1px solid #e2e6e9;
      }
    }

    &--orders_icon {
      display: block;
      background-image: url('../../images/shipping-fast-solid.svg');
      height: 20px;
    }
  }
}

.cart-count {
  position: absolute;
  top: 9px;
  right: 8px;
  background-image: url('../../images/EllipseCounter.svg');
  background-repeat: no-repeat;
  padding: 2px 4.5px;
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-weight: bold;
}

.favourites-count {
  position: absolute;
  top: 9px;
  right: 8px;
  background-image: url('../../images/EllipseCounter.svg');
  background-repeat: no-repeat;
  padding: 2px 4.5px;
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-weight: bold;
}

.is-active {
  color: #313237;
  position: relative;
}

.is-active {
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #313237;
  }
}

.Header__navigation--user-text {
  font-size: 12px;
  line-height: 48px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 800;
  color: #89939a;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #313237;
  }
}
