@font-face {
    font-family: 'Mont';
    src: url('../../../fonts/Mont-Regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Mont';
    src: url('../../../fonts/Mont-SemiBold.otf') format('opentype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Mont';
    src: url('../../../fonts/Mont-Bold.otf') format('opentype');
    font-weight: 700;
  }

.Specifications {
    font-family: Mont;
    width: 511px;
    color: var(--gray-primary, #313237);

    &__title {
        font-size: 22px;
        font-weight: 800;
        line-height: 31px;
        margin-bottom: 32px;
        border-bottom: 1.4px solid #E2E6E9;      
        padding-bottom: 16px; 
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;

        &--info {
            color: #89939a;
            display: flex;
            font-size: 14px;
            gap: 15px;
            justify-content: space-between;
            letter-spacing: 0;
            line-height: 21px;
        }

        &--value {
            color: var(--gray-primary, #313237);
        }

    }
}