.tablets-counter {
    color: var(--gray-secondary, #89939a);
  
    /* Body text 14 */
    font-family: Mont;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    padding-bottom: 40px;
  }
  
  .navigation__category--tablets {
    color: var(--gray-secondary, #89939a);
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  