.photos-block {
  &__container {
    display: flex;

    @media (max-width: 640px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
      order: 2;
    }
  }

  &__small-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 640px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__photo {
    display: flex;
    flex-wrap: wrap;
    height: 66px;
    width: 66px;
    border: 1px solid #c4c4c4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &.selected {
      border: 1px solid black;
    }

    @media (max-width: 400px) {
      height: 40px;
      width: 40px;
    }
  }

  &__big-photo {
    height: 442px;
    min-width: 300px;
    object-fit: contain;

    @media (max-width: 640px) {
      height: auto;
      width: 90%;
      max-height: 442px;
      min-width: unset;
      order: 1;
    }
  }
}
