.home-page__title {
  color: var(--gray-primary, #313237);

  font-family: Mont;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  padding-top: 56px;
  padding-bottom: 56px;
}

@media (max-width: 640px) {
  .home-page__title {
    color: var(--gray-primary, #313237);
    font-family: Mont;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
  }
}


.show-on-mobile {
  display: none;

  @media (max-width: 991px) {
    display: block;
  }
}

.hide-on-mobile {
  display: block;

  @media (max-width: 991px) {
    display: none;
  }
}